<!-- INTERIOR DE LA CARTILLA USANDO ANGULAR MATERIALS-->
<mat-card-header>
  <mat-card-title class="nombre-trabajador">{{formulario.nom_trab}}</mat-card-title>
  <mat-card-subtitle class="fix-margin">FORMULARIO DE {{formulario.tipo_form}} COD: {{formulario.id}}
  </mat-card-subtitle>
  <button mat-fab color="accent" class="ver_mas">+</button>
</mat-card-header>
<mat-divider [inset]="true"></mat-divider>


<mat-card-content class="contenido">
  <p> <b>Tipo de cargo:</b> {{formulario.cargo}} </p>
  <p> <b>Area de trabajo:</b> {{formulario.nom_area}} </p>
  <p> <b>Tipo de usuario:</b> {{formulario.tipo_usuario}} </p>
  <p> <b>Tipo de solicitud:</b> {{formulario.tipo_solicitud}} </p>
  <p> <b>Estado:</b> {{formulario.estado}} </p>
</mat-card-content>
<!--<button mat-raised-button color="warn">Accent</button>
<a href="">Mostrar más</a>-->
