<main class="main-area">
  <form action="">
    <ul class="cards">
      <li class="card">
        <div>
          <section>
            <label for="nombre-usuario">Nombre de usuario:</label>
            <input type="text" name="nombre-usuario" id="nombre-usuario">
            <label for="documento-identidad">D.N.I.:</label>
            <input type="text" name="documento-identidad" id="documento-identidad" maxlength="8">
          </section>
        </div>
      </li>
    </ul>
  </form>
</main>
