.masthead {
  border-bottom: 1px solid hsl(0, 0%, 90%);
  display: flex;
  align-items: center;
}

.logo-sunarp {
  padding: 10px;
  padding-right: 5px;
  min-width: 150px;
  max-width: 175px;
  flex: 1 0 200px;
}

.titulo {
  display: block;
  margin: 0;
  flex: 1 0 200px;
  line-height: 1.25;
}

.headerApp {
  height: 100px;
  flex: 1 1 auto;
  background: white;
  border-bottom: 1px solid hsl(0, 0%, 90%);
  box-shadow: 0px 1.75px 1.75px rgb(238, 238, 238);
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton_agregar {
  flex: 0 0 1560px;
}
