.loginCard {
  width: 400px;
  margin: 150px auto;
  vertical-align: baseline;

}


.card-title {
  font-size: 36px;
  margin-left: -16px;
}

.form-container {
  display: flex;
  flex-direction: column;
}


.form-container>* {
  width: 100%;
}

.boton {
  margin-top: 10px;
}
